@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Ensure app fills entire viewport */
html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}